.image {
    width: 40%;
    padding-bottom: 50px;
};
p {
    font-size: medium;
}

@media (max-width: 991px){
    .home {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    }
    @media (max-width: 480px){
        .home{
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            -webkit-column-width: 100%;
            -moz-column-width: 100%;
            column-width: 100%;
    
        }
    }
    